<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goldze.main">

    <application>

        <!-- 在自己组件中注册Activity -->
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.SplashActivity" />
        <activity android:name=".ui.LoginActivity"></activity>
    </application>

</manifest>